body{
	height: 4246px;
	width: 1519px;
	overflow-x: hidden;
}

.header{
	box-sizing: border-box;
	height: 64px;
	width: 1519px;
	background-color: rgba(121, 82, 179, 1);
	border: 1px solid purple;
	padding: 8px 16px 8px 16px;
	margin-right: 0px;
	margin-left: -8px;
	margin-top: -8px;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	color: rgb(223,214,237);
}

ul{
	list-style-type: none;
	display: flex;
}

.menu a{
	text-decoration: none;
	color: rgb(229,222,240);
	padding-left: 13px;
	font-size: 15px;
	font-weight: normal;
}
.header>ul>li:nth-child(3)>a {
	color: rgb(255,255,255);
 	font-weight: bold;
}

img{
	height: 35px;
    width: 43px;
	margin-right: 8px;
	margin-left: -45px;
	margin-bottom: 8px;
	margin-top: -10px;
}

.dropdown {
	margin-top: -2px;
	margin-left: 240px;
 	float: right;
 	overflow: hidden;
 	position: relative;
 	display: inline-block;
}

.dropdown-content {
 	display: block;
/*	position: absolute; 
*/
 	background-color: red;
 	min-width: 160px;
 	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 	z-index: 1;
 	margin-left: -22px;
 	margin-top: -4px;
}

.dropdown .dropbtn {
 	font-size: 16px;  
 	border: none;
 	outline: none;
 	color: rgb(223,214,237);
 	padding: 14px 16px;
 	background-color: inherit;
 	font-family: inherit;
 	margin: 0;
}
.dropdown-content:hover .dropdown{
	/*display: block;*/
	margin-top: 12px;
	color: black;
}

.header>ul>li>a:hover, .navbar a:hover, .dropbtn {
	color: rgb(255,255,255);
}
.dropdown-content :hover{
background-color: lavender;
}
.icons{
	margin-top: -2px;
	margin-right: -550px;
	float: right;
	height: 36px;
	width: 180px;
}
i{
	height: 36px;
	width: 38px;
}
.dropbtn a:hover{
/*	display: block;*/
}