body {
    background-color: rgb(54, 54, 54) !important;
    overflow: hidden !important;
}

.side-bar {
    background-color:rgb(32,32,32);
}

.main-container {
    background-color:rgb(54, 54, 54);
}

.side-bar {
    height: 625px;
    float: left;
    width: 70px !important;
}
aside>.db{
    background-color: inherit;
    font-size: 1.7rem;
    height: 4rem;
    margin-top: 7rem;
}

aside>.hdd{
    background-color: inherit;
    font-size: 1.7rem;
    height: 4rem;
}
.main-container {
    height: 625px;
    /* float: right; */
    width: auto !important;

}
.asset-container{
    padding-top: 0.9rem;
    padding-bottom: 5rem;
    background-color:#1054a7;
    margin-left: 1px !important;
    /* margin-right: 20px !important; */
}

.icon>i{
    font-size: 1.7rem;
    /* height: 25px;
    width: 25px; */
}

.modal-popup{
    /* float: right; */
    /* margin-left: 10rem !important; */
    /* z-index: 1; */
    /* margin-top: 12rem !important;*/
    /* margin-right: 59px !important; */
}
.modal-content
{
    margin-left: -21rem !important;
    margin-top: 7rem;
    width: 77.5rem !important;
    height: 39rem;
}
.modal-footer{
    margin-top: 20rem;
}

.badge {
    font-size: 0.50em !important;
}

.badge:hover {
    background-color: #0d6efd !important;
    outline: none;
}

.badge:focus {
    background-color: #30006d !important;
    outline: none;
}

.nav-btn {
    height: 33px;
    width: 90px;
    padding: 0.45em 8.45em 0.4rem 1.2rem !important;
}

.nav-btn1 {
    height: 33px;
    width: 50px;
    padding: 0.55em 5.65em 0.75rem 0.9rem !important;
    margin-top: 0.6rem;
    margin-left: 5px;
    float: right;
}

.close {
    font-size: 1.3rem;
    float: right;
}

/* .dropdown-container>.dropdown>button {
    border-radius: 1px solid rgb(255, 8, 8) !important;
} */

.dropdown {
    position: relative;
}

.label-bar {
    position: absolute;
    margin-top: -12px;
    margin-left: 12px;
    font-size: 0.8rem;
}

/* .dropdown-toggle {
    border: 1px solid gray;
} */

/* .dropdown>ul>button:hover {
background-color: red;
} */
.space-dowm {
    background-color: #363636;
}

.search-bar {
    position: relative;
    overflow-y: scroll;
}

.search-icon {
    position: absolute;
    top: 16px;
    right: 20px;
}

.filter {
    border: 1px solid white;
    border-radius: 0.3em;
    height: 28rem;
    width: 74rem; 
    margin-top: -20px !important;
}